@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #3c3c3c;
    font-family: 'Montserrat', sans-serif;
}

/* GENERAL */

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-page {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin-top: 60px;
}

h1 {
    font-size: 28px;
    margin-bottom: 50px;
}

li {
    list-style: none;
}

.color-turquoise {
    color: #26A4AE;
}

.color-blue {
    color: #005DFF;
}

.color-grey {
    color: #939393;
}

.bg-success {
    background-color: #45a045;
}

.bg-error {
    background-color: #9b1717;;
}

.bg-mauve {
    background-color: #732DD9;
}

.bg-orange {
    background-color: #FF5722;
}


/* NOTIFICATION MESSAGE*/

.container-info, #js-container-info {
    margin-bottom: 30px;
    padding: 15px 10px;
    border-radius: 3px;
    width: 100%;
    color: white;
}

.container-info p {
    color: white;
}

#js-container-info {
    display: none;
}

/* HEADER & FOOTER */

header .content-page, footer .content-page {
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin-top: 0;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

header .logo a {
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}

header nav, header ul, header .actions {
    display: flex;
}

header li {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
}

header .actions li {
    margin-right: 10px;
    margin-left: 10px;
}

/* FOOTER */

footer {
    margin-top: 100px;
    padding: 30px 0;
}

/* HOME */

#home h1 {
    display: flex;
    flex-direction: column;
    font-size: 64px;
}

#home .content-page {
    width: 75%;
}

/* USER SPACE */

#user-space-menu {;
    position: absolute;
    left: 20px;
}

#user-space h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

/* REGISTER */

#register .content-page {
    align-items: center;
    width: 800px;
}

#register form {
    width: 100%;
}

#register .create-as p {
    font-size: 22px;
    margin-bottom: 15px;
}

#register .create-as .group {
    display: unset;
}

#register .parts {
    display: flex;
    justify-content: space-between;
}

#register .parts .left, #register .parts .right {
    width: 45%;
}

/* LOGIN */

#login h1 {
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 40px;
}

#login .content-page {
    width: 550px;
}

/* FORM */

form {
    display: flex;
    flex-direction: column;
    width: 350px;
}

input {
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-bottom: 1px solid;
    font-size: 16px;
    padding: 5px;
}

input[type=radio] {
    margin-right: 10px;
}

input:focus, textarea:focus {
    outline: none;
}

textarea:focus {
    border: solid #668b8f 1px;
}

form .group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

form .group-radio {
    margin-bottom: 10px;
}

form .container-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

.forgot-password {
    font-size: 12px;
}

form button {
    font-size: 18px;
    margin-top: 20px;
}

/* BUTTON */

button {
    padding: 10px 25px;
    border: solid 1px black;
    border-radius: 15px;
    background-color: unset;
    cursor: pointer;
}

button:hover {
    color: #26a4ae;
}


/* ROLE */

.role {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
}

.role span {
    color: white;
    border-radius: 5px;
    font-weight: bold;
    width: fit-content;
    padding: 5px 10px;
}